.creators_section {
  padding: 80px 0;
}

.creators_cards_container {
  display: grid;
  grid-template: "a a a a" auto;
  gap: 30px;
  margin: 60px 0;
}

.creator_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 834px) {
  .creators_section {
    padding: 40px 0;
  }
  .creators_cards_container {
    grid-template: "a a" auto;
  }
}


@media (max-width: 376px) {
  .creators_cards_container {
    grid-template: "a" auto;
  }
  .button_container {
    display: none;
  }
}
