.subscribe_section {
  width: 1050px;
  margin: 60px 0;
  padding: 80px 0;
}

.subscribe_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 60px;
  background-color: #3b3b3b;
  border-radius: 20px;
}

.subscribe_box h3 {
  color: white;
  font-size: 36px;
  font-weight: 600;
  font-family: "Work Sans";
  margin-bottom: 10px;
}

.subscribe_box p {
  color: white;
  font-size: 22px;
  font-weight: 400;
  font-family: "Work Sans";
  margin-bottom: 40px;
}

.subscribe {
  position: relative;
  display: flex;
  align-items: center;
}

.subscribe_input {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  outline: none;
  border: none;
}

.subscribe_button {
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  right: 0;
  background: rgba(162, 89, 255, 1);
  padding: 0 50px;
  color: white;
  border-radius: 20px;
  font-family: "Work Sans";
  text-align: center;
  cursor: pointer;
}
