.button_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  gap: 12px;
  border-radius: 20px;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.filled_button {
  background-color: var(--purple);
}

.outline_button {
  background-color: transparent;
  border: 2px solid;
  border-color: var(--purple);
}
