.auction_timer_container {
  width: 295px;
  padding: 30px;
  background-color: rgba(59, 59, 59, 0.5);
  color: white;
  border-radius: 20px;
}

.auction_header {
  font-size: 12px;
  font-family: "Space Mono";
  font-weight: 400;
}

.digit {
  font-size: 38px;
  font-family: "Space Mono";
  font-weight: 700;
}

.clock_digis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.clock_headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
