footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 40px 115.29px;
}

.footer_lists {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 31px;
}

.col_1 {
  width: 327.41px;
}

.col_2 {
  width: 240px;
}
.col_3 {
  width: 420px;
}

.footer-column h2,
.footer-column img {
  margin-bottom: 30px;
}

.footer-column p {
  color: rgba(204, 204, 204, 1);
  margin-bottom: 20px;

  font-family: "Work Sans";
}

.subscribe {
  position: relative;
  display: flex;
  align-items: center;
}

.subscribe_input {
  padding: 20px;
  border-radius: 20px;
  outline: none;
  border: none;
}

.subscribe_button {
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  right: 0;
  background: rgba(162, 89, 255, 1);
  padding: 0 50px;
  color: white;
  border-radius: 20px;
  font-family: "Work Sans";
  text-align: center;
  cursor: pointer;
}

hr {
  width: 1050px;
  margin: 20px 0;
}

@media (max-width: 834px) {
  footer {
    justify-content: baseline;
    align-items: baseline;
    padding: 40px 72px;
  }
  .footer_lists {
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
  }
  hr {
    width: 100%;
  }
}

@media (max-width: 834px) {
  footer {
    padding: 40px 30px;
  }

  .col_1, .col_2, .col_3{
    width: 315px;
  }
  

  .subscribe {
    position: static;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
  }
  .subscribe_input {
    width: 315px;

  }
  .subscribe_button {
    width: 315px;
    padding: 13px 102px;
    position: static;
  }
  .copyright {
    font-size: 12px;
  }
}

