.categories_section {
  padding: 80px 0;
}

.categories_cards_container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 30px;
  margin-top: 60px;
}

@media (max-width: 834px) {
  .categories_cards_container {
    grid-template-columns: repeat(4, auto);
  }
}
