.navigation_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.menu ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 30px;
  color: var(--primary-color);
}

.hamburger_menu {
  display: none;
}

@media (max-width: 834px) {
  .menu ul {
    display: none;
  }

  .hamburger_menu {
    display: block;
  }
}
